name: Noise Meter (USB mic)
version: "0.1"
slug: noise_meter
description: Measures noise level from USB microphone and publishes to MQTT
startup: services
boot: auto
audio: true
privileged: true
# full_access: true

arch:
  - amd64

# Важно: доступ к звуковому устройству
devices:
  - /dev/snd

options:
  alsa_device: /dev/snd/by-id/usb-XXX-00
  mqtt_host: core-mosquitto
  mqtt_port: 1883
  mqtt_username: mqtt_noise_meter
  mqtt_password: "p@ssw0rd"
  mqtt_prefix: home/noise

  presence_on_db: -35.0
  presence_off_db: -42.0

  presence_window_s: 2
  noise_window_s: 5

schema:
  alsa_device: str
  mqtt_host: str
  mqtt_port: int
  mqtt_username: str
  mqtt_password: password
  mqtt_prefix: str

  presence_on_db: float
  presence_off_db: float

  presence_window_s: int
  noise_window_s: int
